@import "tailwindcss";

:root {
  --background: #000420;
  --foreground: #ffffff;

  --navbar-height: 3.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ubuntu-sans);
  --font-mono: var(--font-ubuntu-sans-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}
